'.source.ampscript':
  'code-block':
    'prefix': '%%'
    'body': '%%[\n$1\n]%%$0'
  'code-block-executioncontext':
    'prefix': '%%'
    'body': '%%[[type=${1:Load|Post};name=${2:BlockName}]\n$3\n]%%$0'
  'code-block-inline':
    'prefix': '%%'
    'body': '%%[$1]%%$0'
  'code-inline':
    'prefix': '%%='
    'body': '%%=$1=%%$0'
  'comment-block':
    'prefix': '/**'
    'body': '/**\n * $1\n */$0'
  'comment-inline':
    'prefix': '/*'
    'body': '/* $1 */$0'
