'.source.ampscript':
  'code-block':
    'prefix': '%%'
    'body': '%%[\n$1\n]%%$0'
  'code-inline':
    'prefix': '%%='
    'body': '%%=$1=%%$0'
  'comment-block':
    'prefix': '/**'
    'body': '/**\n * $1\n */$0'
