'scopeName': 'source.ampscript'
'name': 'AMPscript'
'fileTypes': [
  'amp'
  'ampscript'
]
'patterns': [
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.ampscript'
    'end': '\\*/'
    'name': 'comment.block.ampscript'
  }
  {
    'begin': '\''
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.ampscript'
    'end': '\''
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.ampscript'
    'name': 'string.quoted.single.ampscript'
    'patterns': [
      {
        'include': '#constant-character-escape'
      }
    ]
  }
  {
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.ampscript'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.ampscript'
    'name': 'string.quoted.double.ampscript'
    'patterns': [
      {
        'include': '#constant-character-escape'
      }
    ]
  }
  {
    'match': '(\\b(?i:false)\\b)'
    'name': 'constant.language.boolean.false.ampscript'
  }
  {
    'match': '(\\b(?i:true)\\b)'
    'name': 'constant.language.boolean.true.ampscript'
  }
  {
    'match': '(\\b(?i:null)\\b)'
    'name': 'constant.language.null.ampscript'
  }
  {
    'match': '(\\b(0(x|X)[0-9a-fA-F]+)|([0-9]+(\\.[0-9]+)?))\\b'
    'name': 'constant.numeric.ampscript'
  }
  {
    'match': '(\\b(?i:if|then|else|elseif|endif|for|to|downto|do|next)\\b)'
    'name': 'keyword.control.ampscript'
  }
  {
    'match': '==|!=|>|<|>=|<=|\\b(?i:and|or|not)\\b'
    'name': 'keyword.operator.ampscript'
  }
  {
    'match': '[\\%\\%\\[]|[\\]\\%\\%]|\\%\\%\\=|\\=\\%\\%'
    'name': 'meta.brace.ampscript'
  }
  {
    'match': '\\@[a-zA-Z0-9_]+'
    'name': 'variable.other.ampscript'
  }
  {
    'match': '(\\b(?i:set|var)\\b)'
    'name': 'storage.type.ampscript'
  }
  {
    'match': '\\b(_CarrierID|_Channel|_City|_ContactID|_CountryCode|_CreatedBy|_CreatedDate|_FirstName|_IsHonorDST|_LastName|_MobileNumber|_ModifiedBy|_ModifiedDate|_Priority|_Source|_SourceObjectID|_State|_Status|_UTCOffset|_ZipCode)\\b'
    'name': "support.constant.personalization.contacts.ampscript"
  }
  {
    'match': '\\b(linkname|emailname_|_messagecontext|_MessageTypePreference|_replycontent|_IsTestSend|jobid)\\b'
    'name': "support.constant.personalization.email.ampscript"
  }
  {
    'match': '\\b(xtmonth|xtmonthnumeric|xtday|xtdayofweek|xtyear|xtshortdate|xtlongdate)\\b'
    'name': "support.constant.personalization.email.date-time.ampscript"
  }
  {
    'match': '\\b(replyname|replyemailaddress|memberid|member_busname|member_addr|member_city|member_state|member_postalcode|member_country)\\b'
    'name': "support.constant.personalization.sender.ampscript"
  }
]
'repository':
  'constant-character-escape':
    'match': '\\\\(x\\h{2}|[0-2][0-7]{,2}|3[0-6][0-7]|37[0-7]?|[4-7][0-7]?|.)'
    'name': 'constant.character.escape.ampscript'
