'scopeName': 'source.ampscript'
'name': 'AMPscript'
'fileTypes': [
  'amp'
  'ampscript'
]
'patterns': [
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.ampscript'
    'end': '\\*/'
    'name': 'comment.block.ampscript'
  }
]
